:root{
    --primary-color: #00ABEF;
    --secondary-color:#E9F1FA;
    --additional-color: #FFFFFF;
    --small-font-size: 1rem;
    --medium-font-size: 3rem;
    --big-font-size:10rem;
}


body {
  margin: 0;
  background: #fff;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.section {
  height: 200rem;
}

/* Sticky scene */
.section .scene {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

/* Container that holds both content and headset */
.section .scene .vr-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: center;
}

.section .scene .vr-container .vr-world{
  z-index: 1;
}

/* Headset overlay on top of content */
.section .scene .vr-container .headset {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  width:5000px;
}

.section .scene .vr-container .vr-world .hero-section{
  display:flex;
  flex-wrap: wrap;
  gap:2rem;
}

.section .scene .vr-container .vr-world .hero-section .hero-content{
    align-items: left;

}

.section .scene .vr-container .vr-world .hero-section .hero-content .hero-header{
    font-size:var(--big-font-size);
}

.section .scene .vr-container .vr-world .hero-section .hero-content .hero-subheader{
    font-size:var(--medium-font-size);
}

.section .scene .vr-container .vr-world .hero-section .hero-content .hero-description{
    font-size:var(--small-font-size);
}

.section .scene .vr-container .vr-world .hero-section .hero-image{
  max-width: 10rem;
  width: auto;
  height: auto;
}





