body{
	background-color: Black;

}



.Bottom{
	padding-top: 20px;
        padding-bottom:20px;
        padding-left:20px;
	color: white;
        background-color: cyan
      
}


.DarkImage{
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('SpideyMainMenu.PNG');
        height:350px;
 background-repeat: no-repeat;
 background-position: top; 
 background-size: 2000px 425px;
}



.DarkImageBottom{
background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('GoogleCardBoard.JPG');
height:350px;
 background-repeat: no-repeat;
 background-position: Top; 
 background-size: 2000px 300px;
}

.DiffSport{
	background-color: 	#fffaf0; 
	border: black;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}
 
.DiffSport img{
    height: 218px;
    width: 218px; 
    border: 1px solid black;
    padding: 20px;
    margin: 15px 10px 10px 10px;
    background-color: white; 
    display: inline;   
    text-align: center;
}


.DiffSport img:hover{
	border: white; 
    background-color: black; 
height: 500px;
    width: 500px; 
}

.DiffSport p{
	font-size: 15px;
}

.desc{
	padding: 1px;
	text-align: center; 
}

.desc p{
    font-weight:bold;
}

.dropdown-content1{
	display: none;
	position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    color: black;
}

.FixPos{
    position: fixed; 
}

.Intro{
	Background-color: black;
	margin-top: 80px;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
}

.Intro h1{
	color: gray;
	font-size: large;
}
.Intro p{
	font-size: 15px;;
	color: white;
}

.nav{
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
   background-color: white;
  opacity: 0.9;
  filter: alpha(opacity=25); 
 }

.navbars{
  background-color: white; 
  overflow: hidden;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.navbars li{
	float: right; 
}

.navbars a{
	padding-right:50px;
	padding-left: 50px;
	margin-left: 10px;
	color: black;
}

.navbars a:hover{
	  color: white;
	  background-color: black;
	  text-decoration: blink;
	  font-weight: bold;
	  padding-top: 10px;
	  padding-bottom: 10px;
}

.nav li {
  display: inline;
}



.setUpColorBlack{
Background-color: black;
}

.setUpColorGrey{
Background-color: grey;
}

.setUpColorYellow{
Background-color: yellow;
}

.setUpDescription{
font: 20px Arial;
text-align: left
}

.setUpGameBlack{
	
	color: Black;
}

.setUpGameWhite{
	
	color: White;
}


.setUpImage{
	 
	border: black;
	text-align: center;
	
}
 
.setUpImage img{
    height: 350px;
    width: 350px; 
  

    padding: 15px;
    display: inline;   
    text-align: center;
}


.setUpImage img:hover{
	
    background-color: black; 
height: 500px;
    width: 500px; 
}

.setUpImage p{
	font-size: 15px;
}


.setUpImageThank img{
    height: 100px;
    width: 100px; 
    padding: 7px;  
    
}


.setUpImageThankLumo img{

    width: 200px; 
 
}


.setUpTableBasicInfo{
    Background-color: white;
    color: Black;
}

.setUpTitle
{
 font: 50px tahoma;
  text-decoration: underline;  
  text-transform: uppercase;
font-weight: bold;
Background-color: white;
color: Black
}

.sport{
	 font: 65px tahoma;
	color: black;
	font-family: "Felix Titling";	
	font-weight: bold;
	background-color: cyan;
	border: thick black solid;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 5px;
	cursor:pointer; 
	
	 -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 6s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 6; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: 6;
    animation-direction: alternate;   
}



/* Standard syntax */
@keyframes example {
    0%   {background-color:white; left:0px; top:0px;}
    25%  {background-color:gray; left:200px; top:0px;}
    50%  {background-color:#87cefa; left:200px; top:200px;}

.sport2{
	font: 100px tahoma;	
	font-weight: bold;
	background-color: red;
	border: thick white solid;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: -10px;
}



/********************************************************************/



